
#  ██████╗██████╗       ██╗ ██████╗     ███████╗███╗   ███╗ █████╗ ██████╗ ████████╗    ██╗███████╗██╗  ██╗
# ██╔════╝██╔══██╗     ███║██╔═══██╗    ██╔════╝████╗ ████║██╔══██╗██╔══██╗╚══██╔══╝    ██║██╔════╝██║  ██║
# ██║     ██████╔╝████╗╚██║██║   ██║    ███████╗██╔████╔██║███████║██████╔╝   ██║  ████ ██║███████╗███████║
# ██║     ██╔══██╗╚═══╝ ██║██║   ██║    ╚════██║██║╚██╔╝██║██╔══██║██╔══██╗   ██║  ╚══╝ ██║╚════██║██╔══██║
# ╚██████╗██║  ██║      ██║╚██████╔╝    ███████║██║ ╚═╝ ██║██║  ██║██║  ██║   ██║       ██║███████║██║  ██║
#  ╚═════╝╚═╝  ╚═╝      ╚═╝ ╚═════╝     ╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝       ╚═╝╚══════╝╚═╝  ╚═╝
#  ╔═╗╔═╗╦═╗  ╦╔═╦  ╦╔═╗╔═╗╔═╗╦═╗
#  ╠╣ ║ ║╠╦╝  ╠╩╗║  ║╠═╝╠═╝║╣ ╠╦╝
#  ╚  ╚═╝╩╚═  ╩ ╩╩═╝╩╩  ╩  ╚═╝╩╚═        


# CR-10 Smart-ish for Klipper
# printer_size: 300x300x400
# Version: 1.0

# This file contains pin mappings for the Creality CR-10 Smart
# with a CRC-2405V1.2 board.

# To use this config, during "make menuconfig" select the STM32F103
# with a "28KiB bootloader" and serial (on USART1 PA10/PA9)

# Choose the "Enable extra low-level configuration"
# Then, select "GPIO pins to set at micro-controller startup"
# In the prompt, enter PA0. You'll see this back on the main screen as:

# (PA0) GPIO pins to set at micro-controller startup

# All other options are acceptable as is, or, they were when this
# configuration was written.

# Flash this firmware on the MCU by copying "out/klipper.bin" to an SD
# card and turning the printer on with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# For the CR-10 Smart, you MUST hold down the power button the entire time
# during the flash. It only takes about 8 to 10 seconds, and you'll hear a
# fairly loud click from a relay when it is complete. The screen will 
# freeze at the start of the Creality logo and will no longer work.

# The machine itself includes a small router that can run a Klipper
# frontend. You don't need to buy a single-board computer. See:

# https://3dprintbeginner.com/how-to-install-klipperwrt-on-creality-box/

# However, after going this route, and installing a switch and extra power 
# for 5V so the router can run without the printer on, I found the onboard
# box MUCH too slow to be useful. It takes 5 full minutes to load Octoprint.

# I ended up switching to a Raspberry PI 3B+ for Klipper.

# See https://www.klipper3d.org/Config_Reference.html for a description of parameters.


# ╔═╗═╗ ╦╔═╗╔═╗╦═╗╦╔╦╗╔═╗╔╗╔╔╦╗╔═╗╦    ╦ ╦╔═╗╦═╗╦╔═
# ║╣ ╔╩╦╝╠═╝║╣ ╠╦╝║║║║║╣ ║║║ ║ ╠═╣║    ║║║║ ║╠╦╝╠╩╗
# ╚═╝╩ ╚═╩  ╚═╝╩╚═╩╩ ╩╚═╝╝╚╝ ╩ ╩ ╩╩═╝  ╚╩╝╚═╝╩╚═╩ ╩

# For reference, the "outside pin" means the pin nearest the edge of the board.

# PIN PB12 - Connector J4 outside pin.

# This was used for was WIFI reset on the Creality Cloud. It seems to be floating when not 
# enabled and not reliable. When used as an input as PB12 (in a test as an endstop trigger) 
# it is floating. Pulling to ground stabilizes it so ground is open, and applying 5v is 
# triggered. So, adopting a hardware pull down, as ~PB12 stablizes it to ground. Using a 10K 
# resistor and connecting to 5V results in 4V, so there is a 40K pulldown. That is a weird 
# value. Adopting a hardware pull up as ^PB12 produces 3.3V on it's output, nice! They chose 
# a good resistor size for pull up.

# Use as an output:
# [output_pin PB12_on_J4]
# pin: PB12

# PIN PB2 - Optical Z endstop.
# this is the optical endstop; haven't figured out how to leverage it yet tho in klipper.
# Ideally, I'd like to make the z axis zoom down to the optical stop before homing, but I haven't figured out how to do that yet.

# as used in the z axis stepper section:
# endstop_pin: PB2

# PIN PA15 - Connector J3 outside pin.

# To use as an input, use PA15 and connect to ground to trigger it; no resistor needed. It has a 10K pull up as confirmed by a 2.5V presence when used with an external 10K resistor.

# Use as an output:
# [output_pin PA15_on_J3]
# pin: PA15

# PIN PC7 - SD Card Inserted Switch.
# Inserting an SD-card causes PC7 to be open and when removed it is triggered. It might be a neat lockout trick or emergency .


#─┼─┼─╔═╗╔═╗╦╦  ╔═╗
#─┼─┼─╠╣ ╠═╣║║  ╚═╗
#     ╚  ╩ ╩╩╩═╝╚═╝

# PA2 no visible effect, was possible fan candidate
# [output_pin PA2]
# pin: PA2

# PC6 BEEPER in screen
# Didn't do anything. It likely needs the screen to be initialized before it works.
# [output_pin PC6]
# pin: PC6
# value: 0

# motor protect pin from smart pro config, nope?
# [output_pin PC0]
# pin: PC0
# value: 0

# MOTOR_CIRCUIT_PIN    from smart pro config, nope?
# [output_pin PA1]
# pin: PA1
# value: 0

# pin: PD2 is refered as a fan but I believe it's a copy paste error from the CR6 series.

# PC13 hotend fan candidate? Nope.
# [output_pin PC13]
# pin: PC13
# pwm: True
# value: 0.0

# Probe Tare - I did experiment with it, and I DID see results at first but now I can't
# get it to show any sign of working again. Puzzling. I'll leave it for now.
# it in for now.
# activate_gcode:
# 	TARE_STRAIN_GAUGE
[gcode_macro TARE_STRAIN_GAUGE]
description: Tare the strain gauge. Ensure nothing is touching the extruder and it is not under strain from the cabling or bowden tube.
gcode:
	SET_PIN PIN=_tare_strain VALUE=0
	G4 P250
	SET_PIN PIN=_tare_strain VALUE=1
	G4 P250
	{action_respond_info("Strain gauge tared. Ensure nothing was touching the extruder and it was not under strain from the cabling or bowden tube.")}

# I know the strain gauge tares as the optical sensor is triggered, but I don't
# know if this pin tells the hx711 that a tare is happening. I experimented with 
# it and it didn't seem to do anything. I'll have to look into it more.
[output_pin _tare_strain]
pin: !PA1
value: 1

# Seriously, who thought these lights were bright enough?
[led LED_on_Gantry]
white_pin: PA6
cycle_time: 0.010
initial_WHITE: 1

# I'd really love a way to power UP the board too. Maybe 3.3V from the PI would turn in on?
# Use this as a "nice" way to show Power Off in the Misc section:
# [output_pin printer_power_(Off_Only)]
# Or, use _ps_off and then configure the moonraker.cfg with this
    # [power CR-10 Smart]
    # type: klipper_device
    # object_name: output_pin _ps_off
# which will make the printer appear in the power menu in the top-right 
# the _ before the label makes it hidden in the misc section in Mainsail
[output_pin _ps_off]
pin: PA0
value: 1

# Once you have your machine setup and don't need to fiddle anymore, I'd recommend setting
# this to false.
[force_move]
enable_force_move: True

## These show the temps of the processors for the MCU and the Pi. 

[temperature_sensor raspberry_pi]
sensor_type: temperature_mcu

[temperature_sensor CR-10_MCU]
sensor_type: temperature_host

# The rest of this file is fairly standard configurations combined from various places on the net.
# Subject to change as I begin to use the printer more and refine it further.

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84
  CANCEL_PRINT_BASE

[stepper_x]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: PC4
position_min: -5
position_endstop: -5
position_max: 305
homing_speed: 80

[stepper_y]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: PC5
position_min: -2
position_endstop: -2
position_max: 302
homing_speed: 80

[stepper_z]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -1.5
position_max: 405
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
rotation_distance: 30.4768
microsteps: 16
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB14
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 14.32
pid_Ki: 0.81
pid_Kd: 63.12
min_temp: 0
max_temp: 265

[heater_bed]
heater_pin: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
control: pid
# tuned for stock hardware with 50 degree Celsius target
# everlast - terrible tune for me, overshoots by 10 degrees or more!
pid_Kp: 79.49
pid_Ki: 1.17
pid_Kd: 1349.52
min_temp: 0
max_temp: 120

[fan]
pin: PB15
kick_start_time: 1.0

[mcu]
## get this by running `ls /dev/serial/by-id/` and looking for the USB serial device
serial:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[probe]
pin: PA4
x_offset: 0.0
y_offset: 0.0
z_offset: 0
speed: 3
lift_speed: 5
samples_tolerance: 0.05
samples_tolerance_retries: 2
samples: 1
# x_offset: 0.0
# y_offset: 0.0
#z_offset: 0
# speed: 3
# speed: 0.50
# lift_speed: 3
# samples: 5
# samples_tolerance: 0.05
# samples_tolerance_retries: 2

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: ^!PA7

[static_digital_output daughterboard_communication]
pins: !PA5

# [bltouch]
# sensor_pin: ^PB1      #signal check port ^stand for pull up
# control_pin: PB0      #singal control prot
# #x_offset: -31.8
# #y_offset: -40.5
# #z_offset: 1.50          #z off_set configuration
# speed: 3.0
# stow_on_each_sample = false #high speed for bltoch,
# samples: 1
# #probe_with_touch_mode = true


[bed_mesh]
speed: 200
mesh_min: 10,10         #need to handle head distance with bl_touch
mesh_max: 295,295       #max probe range
probe_count: 13,13
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[safe_z_home]
home_xy_position:150,150
speed: 200
z_hop: 5
z_hop_speed: 3

[mcu rpi]
serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None
# spi_speed: 2000000
# spi_bus: spidev2.0

# [resonance_tester]
# accel_chip: adxl345
# accel_per_hz: 70
# probe_points:
#     150,150,20

[input_shaper]
# shaper_type_x = 2hump_ei
# shaper_freq_x = 90.6
# shaper_type_y = mzv
# shaper_freq_y = 27.2

# [gcode_macro G29]				#界面中增加G29指令
# gcode:
#   G28
#   bed_mesh_calibrate
#   G1 X0 Y0 Z10 F4200

# [gcode_arcs]
# #resolution: 1.0


[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_accel_to_decel: 3000
square_corner_velocity: 5.0
max_z_velocity: 10
max_z_accel: 1000


[exclude_object]
